In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df = pd.read_excel("/Craigslist Car Dataset.xlsx")

In [ ]:
df.head()

,location,condition,Listed_date,Listed_time,drive,fuel,lat,long,odometer,paint color,...,size,title status,transmission,type,year make model,cylinders,year,make,re_model,MODELS
0,dallas,excellent,2022-06-01,18;17,4wd,gas,32.856174,-96.672722,200396.0,NaN,...,NaN,clean,automatic,SUV,2010 Nissan Xterra,6,2010,Nissan,Nissan Xterra,Xterra
1,dallas,excellent,2022-06-01,18;16,fwd,hybrid,32.856174,-96.672722,152434.0,NaN,...,NaN,clean,automatic,SUV,2007 Lexus RX 400h,6,2007,Lexus,Lexus RX 400h,RX 400h
2,dallas,excellent,2022-06-01,18;16,fwd,gas,32.778500,-97.083400,90000.0,blue,...,mid-size,clean,automatic,sedan,2015 hyundai elantra,4,2015,hyundai,hyundai elantra,elantra
3,dallas,NaN,2022-06-01,18;16,fwd,gas,33.681077,-112.058490,61482.0,NaN,...,NaN,clean,automatic,van,2007 Honda Odyssey EX Power Side-Ent,6,2007,Honda,Honda Odyssey EX Power Side-Ent,Odyssey EX Power Side-Ent
4,dallas,excellent,2022-06-01,18;16,rwd,gas,32.856174,-96.672722,70523.0,NaN,...,mid-size,clean,automatic,sedan,2005 Infiniti G35 Sedan,6,2005,Infiniti,Infiniti G35 Sedan,G35 Sedan

In [ ]:
X = df[['year make model','odometer','condition']]
print(X)
df.dropna(inplace=True)

                        year make model  odometer  condition
2                  2015 hyundai elantra   90000.0  excellent
7                  2015 hyundai elantra   90000.0  excellent
21               2013 2013 lexus es 350  103000.0   like new
23                    2014 cadillac sts   85000.0   like new
27                1969 pontiac firebird     764.0  excellent
...                                 ...       ...        ...
2577                 2004 toyota tundra  299189.0  excellent
2580  2011 Cadillac SRX Luxury addition  184200.0   like new
2590    2015 Ford F150 SuperCrew Lariat  114000.0  excellent
2591           2006 chevrolet silverado   85000.0       good
2592                 2014 dodge avenger  120131.0       good

[602 rows x 3 columns]

In [ ]:
Y = df['price']
print(Y)

2         800.0
7         800.0
21       3000.0
23       2999.0
27      32000.0
         ...
2577     7000.0
2580     8500.0
2590    31950.0
2591    13000.0
2592     6800.0
Name: price, Length: 602, dtype: float64

In [ ]:
from sklearn import preprocessing
le=preprocessing.LabelEncoder()
df['condition']=le.fit_transform(df['condition'])
df['year ,make, model']=le.fit_transform(df['year make model'])
print(df.head)

<bound method NDFrame.head of      location  condition Listed_date Listed_time drive fuel        lat  \
2      dallas          0  2022-06-01       18;16   fwd  gas  32.778500
7      dallas          0  2022-06-01       18;16   fwd  gas  32.778500
21     dallas          3  2022-06-01       18;03   fwd  gas  32.778500
23     dallas          3  2022-06-01       18;01   rwd  gas  32.765820
27     dallas          0  2022-06-01       17;58   rwd  gas  33.518200
...       ...        ...         ...         ...   ...  ...        ...
2577   dallas          0  2022-05-28       11;07   rwd  gas  32.045233
2580   dallas          3  2022-05-28       11;07   rwd  gas  32.946600
2590   dallas          0  2022-05-28       11;04   4wd  gas  33.027700
2591   dallas          2  2022-05-28       11;04   4wd  gas  32.893200
2592   dallas          2  2022-05-28       11;03   fwd  gas  32.664800

            long  odometer paint color  ...  title status transmission  \
2     -97.083400   90000.0        blue  ...         clean    automatic
7     -97.083400   90000.0        blue  ...         clean    automatic
21    -97.083400  103000.0         red  ...         clean    automatic
23    -97.067977   85000.0       black  ...         clean    automatic
27    -97.528000     764.0        blue  ...         clean    automatic
...          ...       ...         ...  ...           ...          ...
2577  -96.354038  299189.0       white  ...         clean    automatic
2580  -96.724200  184200.0      custom  ...         clean    automatic
2590  -96.677700  114000.0        blue  ...         clean    automatic
2591 -105.948500   85000.0      silver  ...         clean    automatic
2592  -96.794300  120131.0        blue  ...       rebuilt    automatic

        type                    year make model cylinders  year       make  \
2      sedan               2015 hyundai elantra         4  2015    hyundai
7      sedan               2015 hyundai elantra         4  2015    hyundai
21     sedan             2013 2013 lexus es 350         6  2013      lexus
23     sedan                  2014 cadillac sts         6  2014   cadillac
27     coupe              1969 pontiac firebird         8  1969    pontiac
...      ...                                ...       ...   ...        ...
2577  pickup                 2004 toyota tundra         6  2004     toyota
2580     SUV  2011 Cadillac SRX Luxury addition         6  2011   Cadillac
2590  pickup    2015 Ford F150 SuperCrew Lariat         6  2015       Ford
2591   truck           2006 chevrolet silverado         8  2006  chevrolet
2592   sedan                 2014 dodge avenger         4  2014      dodge

                          re_model                 MODELS year ,make, model
2                  hyundai elantra                elantra               451
7                  hyundai elantra                elantra               451
21               2013 lexus es 350           lexus es 350               359
23                    cadillac sts                    sts               416
27                pontiac firebird               firebird                14
...                            ...                    ...               ...
2577                 toyota tundra                 tundra               137
2580  Cadillac SRX Luxury addition    SRX Luxury addition               296
2590    Ford F150 SuperCrew Lariat  F150 SuperCrew Lariat               437
2591           chevrolet silverado              silverado               168
2592                 dodge avenger                avenger               420

[602 rows x 22 columns]>

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(df[['year make model','odometer','condition']],df['price'],test_size=0.2,random_state=0)
print(X_train)
print(X_test)
print(Y_train)
print(Y_test)

                            year make model  odometer  condition
1215                     2014 2014 Ram 2500   56458.0          0
483                     2008 chevy spark ls  106000.0          2
2313  2013 hyundai elantra limited sedan 4d  181356.0          2
1935                    2016 honda civic lx   85299.0          0
921              2019 Ford F-250 Super Duty  110986.0          0
...                                     ...       ...        ...
1187                      1978 GMC C/K 1500    1000.0          2
47                           2007 saab 9-7x  193534.0          2
1540                        2008 ford f-150  101399.0          3
877               2000 chevrolet camaro z28   79000.0          0
2421      2011 Land Rover Range Rover Sport  143737.0          2

[481 rows x 3 columns]
                      year make model  odometer  condition
1169              1984 chevrolet c-10   58000.0          0
236   2016 Jeep Cherokee 4WD Latitude   63327.0          0
2063                2019 toyota camry   40000.0          3
886        2019 hyundai sonata hybrid    8000.0          3
1469                     1976 76 chev   52000.0          2
...                               ...       ...        ...
1653         2006 2006 Toyota 4runner  221000.0          0
2590  2015 Ford F150 SuperCrew Lariat  114000.0          0
1565           2020 honda pilot elite   26700.0          3
1065                2011 Lexus GX 460  171400.0          0
2196                2017 jeep patriot   62000.0          3

[121 rows x 3 columns]
1215    52500.0
483      4499.0
2313     6950.0
1935    15000.0
921     59900.0
         ...
1187    10500.0
47       5500.0
1540    12500.0
877     12000.0
2421    12900.0
Name: price, Length: 481, dtype: float64
1169    22000.0
236     19995.0
2063    17600.0
886     18900.0
1469     1500.0
         ...
1653     9450.0
2590    31950.0
1565    36490.0
1065    19990.0
2196     8999.0
Name: price, Length: 121, dtype: float64

In [ ]:
from sklearn.linear_model import LogisticRegression as logisticregression
logres= logisticregression()
logres.fit(X_train,Y_train)
Y_pred=logres.predict(X_test)
print(Y_pred)

ValueError: could not convert string to float: '2014 2014 Ram 2500'